.container {
  display: flex;
  justify-content: center;

  height: 100vh;
}

.element {
    margin-top: 30px;
    margin: 20px;
    max-width: 600px;
    width: 100%;
    box-shadow: none;

}

.element-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-form mat-form-field{
  width: 70%
}
