<app-header></app-header>
<div class="container">
  <mat-card class="element">
    <mat-card-header class="element-form">
      <mat-card-title>Créer un article</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content class="element-form">
        <mat-form-field>
          <mat-label>Sélectionner un sujet</mat-label>
          <mat-select formControlName="subjectTitle">
          <mat-option *ngFor="let subject of subjects" [value]="subject.title">{{ subject.title }}</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Titre de l'article" formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contenu de l'article" formControlName="description">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Créer</button>
        <span *ngIf="onError" class="error">An error occurred</span>
      </mat-card-content>
    </form>
  </mat-card>
</div>
