.mat-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-card {
  width: calc(30% - 16px); /* Adjust the width of each card */
  margin: 8px; /* Adjust the margin between cards */
  background-color: whitesmoke;
}

.button{
  display: flex;
  justify-content: center;
}

/* Media Query for Responsive Layout */
@media screen and (max-width: 600px) {
  .mat-card-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .mat-card {
    width: calc(85% );
  }
}
