<app-header></app-header>
<div *ngIf="subjects && subjects.length">
  <div class="mat-card-container">
    <mat-card *ngFor="let subject of subjects" class="mat-card">
      <mat-card-header>
        <mat-card-title>{{ subject.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ subject.description }}</p>
        <div class="button">
          <button mat-raised-button color="primary" (click)="subscribe(subject.id)" [disabled]="isSubscribed(subject.id)">
            {{ isSubscribed(subject.id) ? 'Vous étés déjà abonné' : 'S\'abonner' }}</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
