.element{
      box-shadow: none;
}

.element-form{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.description{
  width: 40%;
  height: 100%;
}

.input{
width: 100%;
}
