  <mat-card class="element">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content class="element-form">
        <div class="description">
          <mat-form-field class="input">
            <input matInput placeholder="Ajoutez un comentaire" formControlName="description">
          </mat-form-field>
        </div>
        <div>
          <button mat-button color="primary" type="submit" [disabled]="form.invalid"><mat-icon class="icon">send</mat-icon></button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
