<div class="center">
  <img src="/assets/logo_p6.png" alt="logo" />
  <div class="error-text">Erreur 404. Page non trouvé</div>
  <div class="buttons">
    <button mat-raised-button color="primary" [routerLink]="['']">Revenir à l'accueil</button>
  </div>
</div>
