.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-text{
  font-size: xx-large;
  margin-bottom: 30px;
}

.buttons{
  display: flex;
  gap: 50px;
}
