.general{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.page-menu{
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.mat-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.mat-card {
  width: calc(25% - 16px); /* Adjust the width of each card */
  margin: 8px; /* Adjust the margin between cards */
  background-color: whitesmoke;
}

.header{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.subtitle{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 50px;
}


/* Media Query for Responsive Layout */
@media screen and (max-width: 600px) {
.mat-card-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.mat-card {
  width: calc(85% );
}
}
