<app-header></app-header>
<div class="general">
  <div class="page-menu">
    <button mat-raised-button color="primary" [routerLink]="['/creer-article']">Créer un article</button>
    <mat-form-field>
      <mat-label>Trier par</mat-label>
      <mat-select [(value)]="sortOrder">
        <mat-option value="asc">Plus anciens d'abord</mat-option>
        <mat-option value="desc">Plus recent d'abord</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mat-card-container">
    <mat-card *ngFor="let article of sortedFeed" class="mat-card">
      <mat-card-header class="header">
        <mat-card-title>{{ article.title }}</mat-card-title>
        <div class="subtitle">
          <mat-card-subtitle>Date: {{ article.createdAt | date:'dd/MM/yyyy' }}</mat-card-subtitle>
          <mat-card-subtitle>Auteur: {{ getUserName(article.userId) }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>{{ article.description }}</p>
        <button mat-raised-button color="primary" [routerLink]="['/article', article.id]">Lire plus</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
