<app-header></app-header>
  <div class="container">
    <mat-card class="element">
      <mat-card-header class="element-form">
        <mat-card-title>Se connecter</mat-card-title>
      </mat-card-header>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-card-content class="element-form">
          <mat-form-field>
            <input matInput placeholder="Email ou nom d'utilisateur" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
          <p *ngIf="onError" class="error">An error occurred</p>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
