.me{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.innerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.baseline {
  width: 90%;
  height: 1px;
  background-color: rgb(158, 155, 155);
  align-self: center;
}

.subjects{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mat-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mat-card {
  width: calc(25% - 16px); /* Adjust the width of each card */
  margin: 8px; /* Adjust the margin between cards */
  background-color: whitesmoke;
}

.button{
  display: flex;
  justify-content: center;
}


/* Media Query for Responsive Layout */
@media screen and (max-width: 600px) {
  .mat-card-container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .mat-card {
    width: calc(85% );
  }
}
