<app-header></app-header>
<div class="me">
  <div class="form">
    <h1>Profil Utilisateur</h1>
    <form [formGroup]="userForm" class="innerForm">
      <div>
        <mat-form-field>
          <mat-label>{{user.name}}</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-error *ngIf="userForm.get('password')?.hasError('invalidPassword')">Votre mot de passe doit avoir une taille de huit caractères, contenir au moins une majuscule, une minuscule, une chifre et un caractèr special</mat-error>

        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="save()">Save</button>
      <button mat-button color="warn" (click)="logout()">Se déconnecter</button>
    </form>
  </div>
  <div class="baseline"></div>
  <div class="subjects">
    <h1>Abonnements</h1>
  </div>
  <div class="mat-card-container">
    <mat-card *ngFor="let subject of subjects" class="mat-card">
      <mat-card-header>
        <mat-card-title>{{ subject.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ subject.description }}</p>
        <div class="button">
          <button mat-raised-button color="primary" (click)="unsubscribe(subject.id)">Se désabonner</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
