<app-header></app-header>
<div class="container">
  <mat-card class="element">
    <mat-card-header class="element-form">
      <mat-card-title>Inscription</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content class="element-form">
        <mat-form-field fxFlex>
          <input matInput placeholder="Nom d'utilisateur" formControlName="name">
          <mat-error *ngIf="form.get('name')?.hasError('minlength')">L'utilisateur doit ètre au moins 4 caractères long</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Adresse e-mail" formControlName="email">
          <mat-error *ngIf="form.get('email')?.hasError('email')">Ajoutez une adresse mail válide</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mot de passe" formControlName="password">
          <mat-error *ngIf="form.get('password')?.hasError('invalidPassword')">Votre mot de passe doit avoir une taille de huit caractères, contenir au moins une majuscule, une minuscule, une chifre et un caractèr special</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
