<app-header></app-header>
<div class="general">
  <div *ngIf="article" class="article">
    <h1>{{ article.title }}</h1>
    <div class="subheader">
      <div>{{ article.createdAt | date:'dd/MM/yyyy' }}</div>
      <div>{{ userName }}</div>
      <div>{{ subjectName }}</div>
    </div>
    <div>{{ article.description }}</div>
  </div>
  <div class="baseline"></div>
  <div class="comments">
    <h2>Commentaires</h2>
    <mat-card *ngFor="let comment of comments" class="mat-card">
      <mat-card-content class="comment">
        <div>{{ comment.userId }}</div>
        <div class="description">{{ comment.description }}</div>
      </mat-card-content>
    </mat-card>
  </div>
  <app-comment-creation (commentAdded)="addComment($event)"></app-comment-creation>
</div>
