.general {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

h1{
  margin-bottom: 10px;
}

h2{
  font-weight: 400;
}

.subheader {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  color:dimgrey;
}


.baseline {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: rgb(158, 155, 155);
  align-self: center;
}

.comments {
  margin-top: 20px;
}

.mat-card {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  width: 75%;
  box-shadow: none;
}

.comment {
  display: flex;
  gap: 50px;
  padding: 5px;
}

.description{
  background-color: rgb(253, 247, 247);
  width: 75%;
  padding: 20px;
}
