/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar{
  background-color: rgb(24, 185, 97);
}

.error-snackbar{
  background-color: rgb(216, 12, 12);
}

.custom-cursor {
  cursor: pointer;
}
