<div class="center">
  <img src="/assets/logo_p6.png" alt="logo" />
  <div class="buttons">
    <button mat-raised-button color="primary" [routerLink]="['login']">Se connecter</button>
    <button mat-raised-button color="primary" [routerLink]="['register']">S'inscrire</button>
  </div>
</div>
