.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons{
  display: flex;
  gap: 50px;
}

/* Media Query for Responsive Layout */
@media screen and (max-width: 600px) {
  .buttons{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }

  div img {
    height: 150px;
  }
}