<div class="header">
  <img src="/assets/logo_p6.png" alt="logo" class="logo"/>


  <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="hamburger-menu" *ngIf="$isLogged()  | async; else notLogged">
    <mat-icon>menu</mat-icon>
  </button>


  <div class="menu" *ngIf="($isLogged()  | async);  else notLogged" fxShow.gt-sm>
    <div [ngClass]="'custom-cursor'" routerLink="/feed" class="link">Dernières articles</div>
    <div [ngClass]="'custom-cursor'" routerLink="/subjects" class="link">Thèmes</div>
    <div [ngClass]="'custom-cursor'" routerLink="/user-profile" class="link"><mat-icon class="icon">account_circle</mat-icon></div>
  </div>
  <ng-template #notLogged>
    <div>
    </div>
  </ng-template>
</div>
<div class="baseline"></div>

<div class="header2">
  <button mat-icon-button  *ngIf="!isFeedPage() && !isUserPage()" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
</button>
</div>

<mat-menu #mobileMenu="matMenu">
  <span routerLink="/feed" mat-menu-item>Dernières articles</span>
  <span routerLink="/subjects" mat-menu-item>Thèmes</span>
  <span routerLink="/user-profile" mat-menu-item><mat-icon>account_circle</mat-icon></span>
</mat-menu>
