.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  }

.logo {
  margin-left: 20px;
  height: 120px;
}

.menu {
display: flex;
gap: 50px;
font-size: large;
}

.menu .link {
  color: dimgray;
}

.menu .link:hover {
  color: #673AB7;
}

.icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.baseline {
  width: 100%;
  height: 1px;
  background-color: rgb(158, 155, 155);
}

.header2 {
  padding-left: 25px;
  padding-top: 10px;
}

.hamburger-menu {
  display: none;
}


/* Media Query for Responsive Layout */
@media screen and (max-width: 600px) {
  .hamburger-menu {
    display: inline-block;
  }

  /* Hide regular menu */
  .menu {
    display: none;
  }

  .header {
    align-items: flex-start;
    padding: 10px 20px;
  }

  .menu {
    flex-direction: column;

  }

  .menu .link {
    margin-bottom: 10px;
  }
}
